
/*CSS adicional para el módulo de notas de asesores*/
#tprofes thead tr th{
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans';
    font-weight: bold; 
}

#tprofes tbody tr td a{
    font-size: x-large;
    font-family: 'Gill Sans';
    font-weight: bold;
    color: black;   
}

h1{
    color: #4f144e;
    font-weight: bold;
   font-family: 'Gill Sans';
   text-align: center;
}

#h1-center{
    color: #4f144e;
    font-weight: bold;
    font-family: 'Gill Sans';
    text-align: center;
}

h2{
    color: #4f144e;
    font-weight: bold;
   font-family: 'Gill Sans';
}

td{
    font-size: x-large;
    font-family: 'Gill Sans';
    font-weight: bold;
    color: black;
}

#lista_notas_prof thead tr th{
    text-align: center;
    font-family: 'Gill Sans';
    font-size: x-large;
    font-weight: bold;
}

#lista_notas_prof tbody tr td{
    font-family: 'Gill Sans';
    font-weight: lighter;
}

#save-profile{
   font-family: 'Gill Sans MT';
   font-weight: bold;
   background-color: #009999;
}

form #save-sol_p{
    font-family: 'Gill Sans MT';
    font-weight: bold;
    background-color: #009999; 
 }

 #form-prof-btn div{
     text-align: center;
 } 

 #ver_prof{
    background-color: #009999;
    font-family: 'Gill Sans MT';
    font-weight: bold;
    align-self: center;
 }

 #tdbtnprof{
     text-align: center;
 }

 #save-sol_e{
    background-color: #009999;
    font-family: 'Gill Sans MT';
    font-weight: bold;
 }

 #form-emp-btn div{
     text-align: center;
 }

 #ver_sol_pe{
    font-family: 'Gill Sans MT';
    background-color: #009999;
 }

 #lista_notas tbody tr td{
     background-color: #CCFFFF;
     border-style: double;
     font-weight: lighter;
 }

 #ver-sol-btn{
     text-align: center;
 }
 
 #dt-sol-prof div{
     text-align: center;
 }

 #pdf-prof{
     background-color: #009999;
 }

 #pdf-emp{
     background-color: #009999;
 }

 #form-emp div{
     text-align: center;
 }

 #lista_notas thead tr th{
     text-align: center;
     border-style: double;
 }
